<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="item:preview" patch:instead="*[@type='Sitecore.Shell.Framework.Commands.PreviewItem,Sitecore.Kernel']" type ="Sitecore.Support.Shell.Framework.Commands.FixPreviewItem,Sitecore.Support.192715"/>
    </commands>
  </sitecore>
</configuration>
